__pycache__/
.pytest_cache/
.ruff_cache/
.mypy_cache/
*.pyc
*.pyo
*.pyd
*.sqlite3
.env
.venv/
.vscode/
.idea/
dist/
build/
site/
htmlcov/
coverage.xml
alembic/versions/__pycache__/
.local_secrets/
.DS_Store
Thumbs.db
